@use './variables' as *;
@use './mixins' as *;
@use './fonts' as *;

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: $dark-blue;
  font-family: $font-family;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: $off-white;
}

h1 {
  font-size: 2rem;
  text-transform: capitalize;
  @include heading-margin;
}

.header--login {
  @include flex-mixin--row(100%);
  justify-content: space-between;
  padding: $spacing--mobile $page-margin--mobile;
  background-color: transparent;
  width: fit-content;
  z-index: 1;

  @include tablet {
    padding: $spacing--mobile $page-margin--tablet;
  }
}

.main {
  @include flex-mixin--column(100%);
  @include component-spacing;
  @include section-padding;
  height: $main-height--mobile;
  justify-content: flex-start;
  overflow:  visible scroll;
  @include tablet {
    // shift the page content down according to header height
    position: relative;
    top: $header-height--tablet; 
    height: $main-height--tablet;
    padding: $page-margin--mobile $page-margin--tablet
  }
  @include desktop {
    padding: $page-margin--mobile 0;
  }

  &--jobs {
    background-color: yellow;
    @extend .main;
    top: 0;
    height: calc(100vh - $footer-height);

    & p, i {
      @extend .responsive-p;
    }

    & h1 {
      @extend .responsive-h1;
    }

    & h2 {
      @extend .responsive-h2;
    }
  }

  &--flush-to-top {
    @extend .main;
    position: absolute;
    top: 0;
  }
}

footer {
  padding: $spacing--mobile $page-margin--mobile;
  @include tablet {
    padding: $spacing--mobile $page-margin--tablet;
  }
}

section, article, ul {
  @include flex-mixin--column(100%);
  margin: 0;
}

section {
  @include desktop {
    max-width: $max-content-width;
    margin: 0 auto;
  }
}

section, article {
  @include component-spacing;
}

ul {
  gap: .5625rem;
}

.responsive-section {
  @include flex-mixin--column(100%);
  @include component-spacing;
  @include tablet {
    @include flex-mixin--row(100%);
    align-items: flex-start;
  }

  &--desktop {
    @include flex-mixin--column(100%);
    @include component-spacing;
    @include desktop {
      @include flex-mixin--row(100%);
      align-items: flex-start;
    }
  }
}

.responsive-column--50 {
  @include responsive-column(50%);
}

.flex-column-div {
  @include flex-mixin--column(auto);
  @include component-spacing;

  &--no-gap {
    @include flex-mixin--column(auto);
  }
}

.flex-row-div {
  @include flex-mixin(100%);
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: $spacing--mobile;
}

.flex-centred {
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

h2, h3, h4, h5 {
  @include heading-margin();
  text-transform: capitalize;
}

.headline1 {
  font-size: 3.5rem;
}

.headline2 {
  font-size: 3.3125rem;
}

.headline3 {
  font-size: 2.625rem; // https://simplecss.eu/pxtoems.html
}

.headline4 {
  font-size: 2.4375rem;
}

.headline5 {
  font-size: 2.0625rem;
}

.headline6 {
  font-size: 1.25rem;
}

.modal-heading {
  @extend .headline4;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 1rem;
  font-family: $font-family--secondary;
}

article {
  @include flex-mixin--column(100%);
}

p {
  margin: 0.5em 0;
  font-size: 1.3125rem;
  font-family: $font-family--secondary;

  &:last-child {
    margin-bottom: 0;
  }
}

.p1 {
  font-size: .875rem;
}

.p2 {
  font-size: .75rem;
}

.responsive-p {
  font-size: .875rem;
  @include tablet {
    font-size: 1.3125rem;
  }
}

.responsive-h1 {
  @extend .headline6;
  @include tablet {
    font-size: 2.4375rem;
  }
}

.responsive-h2 {
  font-size: 1rem;
  @include tablet {
    font-size: 1.3125rem;
  }
}

a {
  @extend p;
  text-decoration: none;
  color: $secondary-text-color;
  margin: 0;
}

.card-container {
  @include flex-mixin--column(100%);
  gap: $spacing--mobile;
}

form {
  @include flex-mixin--column(100%);
  gap: $spacing--mobile;

  @include tablet {
    width: auto;
  }
}

.form {
  @extend section;

  @include tablet {
    flex-direction: row
  }

  @include desktop {
    width:  $form-width--tablet;
    flex-direction: column;
  }

  &__input-group {
    @include flex-mixin--row(100%);
    gap: $spacing--mobile;
  }

  &__fields-container {
    @extend section;
    width: calc(100% - 1.5rem - $spacing--mobile);
  }

  &__number-input-div {
    @include flex-mixin--row(100%);
    flex-direction: row;
    gap: $spacing--mobile;
    width: 100%;
    
    @include tablet {
      width: $item-width-2;
    }
  }
}

.flex-row-container {
  @include flex-mixin--row(100%);
  @include component-spacing;
}

.scroll-div {
  scrollbar-width: thin;
  &--horizontal {
    @extend .flex-row-container;
    @extend .scroll-div;
    overflow: scroll visible;
  }
}

.no-spacing {
  margin: 0;
  padding: 0;
}

.display-none {
  display: none;
}

.hero {
  box-sizing: content-box;
  aspect-ratio: 16 / 9;
  border-radius: $border-radius;
  max-height: $max-hero-height--mobile;

  @include tablet {
    max-height: $max-hero-height--tablet;
  }
  
}